body {
  font-family: sans-serif;
  background-color: #F5C16C;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* class styling */
.nav {
  background-color:ivory ;
}
.signup {
  background-color:#DF8931;
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5%;

}

.sad-squirrel {
  width: 350px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.styleme {
height: 443px;
background: radial-gradient(50% 50% at 50.07% 50%, rgba(170, 83, 14, 0.59) 0%, rgba(226, 149, 65, 0.519323) 59.38%, rgba(249, 235, 186, 0) 100%);
}
